<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body class="form">
    {{- partial "header.html" . -}}
    <main>
        <section class="page-header end-of-chunk text left">
            <div>
                <div>
                    <h2>We are here to help!</h2>
                    <p>Please get in touch about anything Oasys related. Problems with Oasys, questions about how the automated scores work, dates for training, help with interpreting records, help getting setup within and IT department or anything else that we can help with.</p>
                </div>
            </div>
        </section>
        <section>
            <div>
                <form name="contact" method="POST" netlify>
                    <section>
                        <label>
                            <span>Name</span>
                            <input type="text" name="name" minlength="2" required>
                        </label>
                        <label>
                            <span>Email Address</span>
                            <input type="email" name="email" required>
                        </label>
                        <label>
                            <span>Message</span>
                            <textarea rows="5" name="message" minlength="10" required></textarea>
                        </label>
                    </section>
                    <footer>
                        <button type="submit">Send!</button>
                    </footer>
                </form>
            </div>
        </section>
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "script.html" . -}}
</body>

</html>