{{- if .IsBlock -}}
</div>
</div>
</section>
<section class="image background-0">
    <div>
        <img src="{{ .Destination | safeURL }}"
             {{- with .PlainText }} alt="{{ . }}" {{ end -}}
             {{- with .Title }} title="{{ . }}" {{ end -}}>
    </div>
</section>
<section class="text left background-0">
    <div>
        <div>
            {{- else -}}
            <img src="{{ .Destination | safeURL }}"
                 {{- with .PlainText }} alt="{{ . }}" {{ end -}}
                 {{- with .Title }} title="{{ . }}" {{ end -}}>
            {{- /* chomp trailing newline */ -}}
            {{- end -}}