<footer class="background-5">
    <nav aria-label="Footer">
        <section>
            <div>
                <a href="./" title="Home">
                    Oasys
                </a>
            </div>
        </section>
        <section>
            <div>
                <ul>
                    <li>
                        <a href="./index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="./documentation/index.html">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a href="./privacy-policy.pdf" target="_blank">
                            Privacy policy
                        </a>
                    </li>
                    <li>
                        <a href="./terms-and-conditions.pdf" target="_blank">
                            Terms and conditions
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div>
                <p>Get in Touch</p>
                <ul>
                    <li>
                        <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" title="">
                            <path d="M21.5984 21.6V14.568C21.5984 11.112 20.8544 8.47202 16.8224 8.47202C14.8784 8.47202 13.5824 9.52802 13.0544 10.536H13.0064V8.78402H9.19044V21.6H13.1744V15.24C13.1744 13.56 13.4864 11.952 15.5504 11.952C17.5904 11.952 17.6144 13.848 17.6144 15.336V21.576H21.5984V21.6ZM2.71044 8.78402H6.69444V21.6H2.71044V8.78402ZM4.70244 2.40002C3.43044 2.40002 2.39844 3.43202 2.39844 4.70402C2.39844 5.97602 3.43044 7.03202 4.70244 7.03202C5.97444 7.03202 7.00644 5.97602 7.00644 4.70402C7.00644 3.43202 5.97444 2.40002 4.70244 2.40002Z" />
                        </svg>
                        <a href="">LinkedIn</a>
                    </li>
                    <li>
                        <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" title="">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C15.87 2 19 5.13 19 9C19 14.25 12 22 12 22C12 22 5 14.25 5 9C5 5.13 8.13 2 12 2ZM7 9C7 11.85 9.92 16.21 12 18.88C14.12 16.19 17 11.88 17 9C17 6.24 14.76 4 12 4C9.24 4 7 6.24 7 9ZM12 11.5C10.6193 11.5 9.5 10.3807 9.5 9C9.5 7.61929 10.6193 6.5 12 6.5C13.3807 6.5 14.5 7.61929 14.5 9C14.5 10.3807 13.3807 11.5 12 11.5Z" />
                        </svg>
                        <p>Occupational Lung Disease, Heartlands Hospital, B9 5SS</p>
                    </li>
                    <li>
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" title="">
                            <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <rect x="3" y="5" width="18" height="14" rx="2" stroke-width="2" stroke-linecap="round" />
                        </svg>
                        <a href="contact.html">Contact us</a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</footer>