<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}

    <main>
        <p>Oasys is a free award winning app for Windows that plots and interprets serial peak expiratory flow (PEF) readings of patients suspected as having occupational asthma or work-related asthma. The computer generated score has a 94% specificity for occupational asthma diagnosis and a 75% sensitivity.</p>

    </main>
    {{- partial "footer.html" . -}}
    {{- partial "script.html" . -}}
</body>

</html>